 <div class="col-xs-12">
        <div class="jumbotron text-center">
            <h1>Add Expense</h1>
        </div>
        <form name="expenseForm">

            <!-- <p><b>Dirty: </b>{{expenseForm.$dirty}}</p>
            <p><b>Pristline: </b>{{expenseForm.$pristine}}</p>
            <p><b>Value: </b>{{expenseForm.$dirty}}</p> -->

            <div class="alert alert-danger" role="alert" ng-show="expenseForm.$dirty && !expenseForm.$valid">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Enter a Valid Item!
            </div>
            

            <div class="form-group">
                <input name="inputItem" type="text" ng-pattern="/^[a-zA-Z]*$/" class="form-control" placeholder="Enter Expense Item" ng-model="expenseItem.itemName" required><br>
                <input name="inpRs" type="number" ng-pattern="/^[0-9]*$/" class="form-control" placeholder="Enter Rs." ng-model="expenseItem.expense" required>
            </div>  


            <div class="form-group">
                <a href="#/" class="btn btn-success btn-lg btn-block" ng-click="expenseForm.$valid && save()">
                    <span class="glyphicon glyphicon-pushpin"></span>
                Save</a>
            </div>

            <div class="form-group">
                 <a href="#/" class="btn btn-default btn-lg btn-block">
                    <span class="glyphicon glyphicon-remove"></span>
                Cancel</a>
            </div>
        </form>
    </div>
    